import sys
from datetime import datetime, time, timezone

PLATFORM = sys.platform

TELEGRAM_GROUP_ID = r"<telegram_group_id>"

FIRST_PLANNING_DATETIME_UTC = datetime(2023, 1, 30, 0, 0, 1, tzinfo = timezone.utc)

DAILY_JOB_INTERVAL_SEC = 60 * 60 * 24

RELEASE_JOB_TIME_UTC = time(7, 0, 0, tzinfo = timezone.utc)
DSM_JOB_TIME_UTC = time(7, 30, 0, tzinfo = timezone.utc)
BIRTHDAY_JOB_TIME_UTC = time(7, 45, 0, tzinfo = timezone.utc)

if PLATFORM == "linux" or PLATFORM == "darwin":
    SETTINGS_FILE_PATH = r"/home/s0nought/repos/daily-team-stuff-bot/data/settings.json"
else:
    SETTINGS_FILE_PATH = r"D:\repos\daily-team-stuff-bot\data\settings.json"

START_MESSAGE = r"<start message>"

HELP_MESSAGE = r"<help message>"
