assets/*
data/settings.json
modules/__pycache__/*
modules/constants.py
modules/secrets.py

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
